body
{
    background: rgb(103, 124, 9);
}

#Header a:hover
{
color: rgb(158, 27, 27);
}



#About
{
margin-top: -200px;
}

#About .fa
{
    color: #FFF;
}
#About .fa:hover
{
    color: blueviolet;
}
#About span
{
    padding: 10px 20px 10px 20px;
}

#About hr
{
    border-width: 2px;
    margin-top: 06px;
}

#Skills span
{
    padding: 10px 20px 10px 20px;
}

#Skills hr
{
    border-width: 2px;
    margin-top: 06px; 
}




#Education span
{
    padding: 10px 20px 10px 20px; 
}

#Education hr
{
    border-width: 2px;
    margin-top: 06px;   
}

#Education .card
{
    border-top: 03px solid rgb(146, 240, 151)
}

#Experience span
{
    padding: 10px 20px 10px 20px; 
}

#Experience hr
{
    border-width: 2px;
    margin-top: 06px;   
}

#Experience .card
{
    border-top: 03px solid #ffc107
}

#Contact span
{
    padding: 10px 20px 10px 20px;   
}

#Contact hr
{
    border-width: 2px;
    margin-top: 06px;   
}

#Resources span
{
    padding: 10px 20px 10px 20px;   
}

#Resources hr
{
    border-width: 2px;
    margin-top: 06px;   
}

